.banner {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.banner img {
  width: 500px;
  grid-column: 1/2;
  grid-row: 1/3;
}

.introduce {
  margin-left: 200px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.social-media {
  margin-left: 200px;
  grid-column: 2/3;
  grid-row: 2/3;
}
